#block{
  background: rgb(240, 233, 233);
  display: flex;
  height: 30vh;
}
#block div{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin:2.5%;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#table{
  border-collapse: collapse;
}
#esperar{
  background: linear-gradient(rgb(255, 138, 5), rgb(230, 197, 16));
  color: white;
  padding: 10px 10px;
  border-radius: 8PX;
  width: 40%;
  text-align: center;
}
#esperar:hover{
  background: linear-gradient(rgb(230, 197, 16),rgb(255, 138, 5));
}
#es{
  background: linear-gradient(rgb(223, 222, 221), rgb(160, 160, 160));
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  border-radius: 8PX;
  width: 40%;
  text-align: center;

}
#es:hover{
  background-color:(rgb(192, 191, 190));
}
#table th {
  padding-top: 10px;
  padding-bottom: 10spx;
  text-align: center;
  background: linear-gradient(rgb(0, 41, 131), rgb(0, 0, 0));
  color: white;
}
#table tr:nth-child(even){
  background-color: #afafaf;
}
#table tr:nth-child(odd){
  background-color: #e9e5e5;
}
#table tr:hover {
  background: linear-gradient(rgb(205, 206, 207), rgb(77, 76, 76));
  color: white;
}
#table td, #table th {
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
  width: 100%;
}
#nav1{
  grid-column-start:1;
  grid-row-start: 1;

}
#nav2{
  grid-column-start:2;
  grid-row-start: 1;

}
#nav3{
  grid-column-start:3;
  grid-row-start: 1;

}
#nav4{
  grid-column-start:4;
  grid-row-start: 1;
}
#nav1,#nav2,#nav3{
  background: linear-gradient(rgb(255, 63, 5), rgb(230, 162, 16));
  color: white;
  padding: 10px 10px;
  border-radius: 8PX;
  width: 30%;
  text-align: center;
}
#nav3:hover{
  background: linear-gradient(rgb(230, 162, 16),rgb(255, 63, 5));
}
#nav2:hover{
  background: linear-gradient(rgb(230, 162, 16),rgb(255, 63, 5));
}
#nav1:hover{
  background: linear-gradient(rgb(230, 162, 16),rgb(255, 63, 5));
}
#card {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px rgb(167, 167, 167) solid;
}
#header {
  height: 30%;
  background: rgb(0, 51, 161);
  color: white;
  text-align: center;
}
#container {
  padding: 2px 30px;
}
.buttons{
  background: linear-gradient(rgb(255, 138, 5), rgb(230, 197, 16));
  color: white;
  padding: 10px 10px;
  border-radius: 8PX;  
  width: 80%;
  text-align: center;
}
.buttons:hover{
  background: linear-gradient( rgb(230, 197, 16),rgb(255, 138, 5));
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 30px;
}
.tablap{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6;
}
.esperando{ 
  grid-column-start:3;
  grid-column-end:3;
  grid-row-start: 3;
}
.entregando{
  grid-column-start:3;
  grid-column-end:3;
  grid-row-start: 4;
}
.sancionando{
  grid-column-start:3;
  grid-column-end:3;
  grid-row-start: 5;
}

.img1-section{
  background-image: url('../Media/prepa3.jpg');
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  display:flex ;
}
.img2-section{
  background-image: url('../Media/prepa3.jpg');
  height: 30vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  display:flex ;
}
.stego{
  display: block;
  margin:auto;
  width: 70%;
  height: 60%;
  padding: 20px;
  text-align:justify;
}
.h1{
  text-align: center;
}
.section {
  padding: 25px 40px;
  text-align: center;
}
.squares{
  background: rgb(240, 233, 233);
}
.cliente a{
  color: rgb(0, 0, 0);
}
.adm a{
  color: rgb(255, 255, 255);
}
.nav{
  padding: 5px 20px;
  background:  linear-gradient(rgb(0, 41, 131), rgb(0, 0, 0));
  color: rgb(255, 255, 255);
}
.client{
  background: linear-gradient(rgb(255, 138, 5), rgb(230, 197, 16));
}
.adm{
  color: white;
  background: linear-gradient(rgb(0, 41, 131), rgb(0, 0, 0));
}
.sup{
  background: linear-gradient(rgb(255, 138, 5), rgb(230, 197, 16));
}

.submit:hover{
  background-color:#745002;
  color: white;
}
.submit {
  width: 90%;
  background-color:#b98209;
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
}
.item{
  height: 40px;
}
.logo{
  height: 300px;
  margin-left: 40%;
}
input[type=text],input[type=password],select,input[type=number],option{
  width: 90%;
  background-color:#023186;
  color: white;
  padding: 10px 10px;
  border-radius: 8PX;
}
h1{
  text-align: center;
}
fieldset{
  display: block;
  margin: auto;
  width: 30%;
  align-items: center;
  text-align: center;
  background-color: rgb(240, 240, 240);
}
ul li{
  display: inline-block;
}
body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Helvetica, sans-serif;
}
