<!DOCTYPE html>
<html>
	<head>
		<title>Coyo Rappi</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../Style/rappi.css">
	</head>
	<body>
            <ul>
				<li class="nav"><a class="nav" href="./CoyoRappi.html">Inicio</a></li>
				<li class="nav"><a class="nav" href="../Dynamics/Registro.php">Registrate</a></li>
        <li class="nav"><a class="nav" href="../Dynamics/Ingreso.php">Ingresa</a></li>
				<li class="nav"><a class="nav" href="../Templates/Ayuda.html">Ayuda</a></li>
            </ul>

		<div class="img1-section">
		</div>

		<div class="section squares">
			<section id="block">
				<div class="client">
                    <img src="../Media/food2.png" height="40px">
                    <form method='POST' action='../Dynamics/Ingreso.php'>
                        <input type='submit' class='cliente' value='CLIENTE' name='cliente'>
                    </form>
                </div>
				<div class="adm">
                    <img src="../Media/taco.png" height="40px">
                    <form method='POST' action='../Dynamics/Ingreso.php'>
                        <input type='submit' class='cliente' value='ADMINISTRADOR' name='adm'>
                    </form>
				</div>
				<div class="sup">
                    <img src="../Media/food1.png" height="40px">
                    <form method='POST' action='../Dynamics/Ingreso.php'>
                        <input type='submit' class='cliente' value='SUPERVISOR' name='sup'>
                    </form>
				</div>
			  </section>
		</div>
	</body>
</html>
