<!DOCTYPE html>
<html>
	<head>
		<title>Coyo Rappi</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../Style/rappi.css">
	</head>
	<body>
            <ul>
                <li class="over"><a class="nav" href="#">Inicio</a></li>
                <li class="nav"><a class="nav" href="#">Registrate</a></li>
                <li class="nav"><a class="nav" href="#">Ingresa</a></li>
                <li class="nav"><a class="nav" href="#">Ayuda</a></li>
            </ul>
        </div>
		<div class="img1-section">			    
		        <h1><img src="../Media/LogoCoyo.png" height="800px"></h1>
		</div>
		
		<div class="section squares">
			<section id="block">
				<div class="client">
				  <img src="../Media/food2.png" height="40px">
					  CLIENTE
				</div>
				<div class="adm">
				  <img src="../Media/taco.png" height="40px">
					ADMINISTRADOR
				</div>
				<div class="sup">
				  <img src="../Media/food1.png" height="40px">
				  SUPERVISOR
				</div>
			  </section>
		</div>		
	</body>
</html>